body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

table {
    width: 500px;
}


.right {
    text-align: right;
}

.error {
    color:#ff0000;
}
