body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
}

table {
    width: 500px;
}


.left {
    float: left;
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

.error {
    color:#ff0000;
}